@import url(./fonts.scss);

:root {
    --body: #fff;
    --color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style: none;
}

body {
    font-family: 'Montserrat';
    background: var(--body);
    color: var(--color);

    &.active {
        --body: #000;
        --color: #fff;
    }
}

input,
textarea,
button {
    border: none;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background: transparent;
}

button {
    cursor: pointer;
}

// Адаптивность для разных экранов

/* Стили для планшетов и больше (экраны шире 768px) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Стили для средних десктопов (экраны шире 992px) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Стили для больших десктопов (экраны шире 1200px) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}